server:
  port: 8080
spring:
  application:
    name: school-service
  datasource:
    username: mesut
    url: jdbc:postgresql://localhost:5432/school
    password: mesut
  jpa:
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update
    show-sql: true

